* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #E5E5E5;
}

body::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 436px;
  left: 0px;
  top: -2px;
  z-index: -1;
  background: #535971;
}

.page {
  width: 750px;
  margin: auto;
}

header {
  width: 426px;
  margin-top: 140px;
}

header h1 {
  font-family: 'Staatliches', cursive;
  font-size: 48px;
  line-height: 60px;
  color: #FFFFFF;
  margin-bottom: 18px;
}

header p {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
}

form {
  padding: 64px;
  margin-top: 58px;
  border-radius: 20px 20px 0 0;
  background: #FFFFFF;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

fieldset {
  border: none;
}

.fieldset-wrapper {
  display: flex;
  flex-direction: column;
}

fieldset legend {
  margin-bottom: 36px;
}

fieldset legend,h2, h3 {
  font-family: 'Staatliches', cursive;
  font-size: 24px;
  line-height: 34px;
  color: #535971;
  border-bottom: 1px solid #E6E6F0;
  width: 100%;
}

h2 {
  font-size: 20px;
  border: none;
  margin-bottom: 8px;
  font-weight: 400;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.input-wrapper label {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #4E4958;
}

.input-wrapper label span{
  font-size: 12px;
  line-height: 20px;
  color: #C1BCCC;
  margin-left: 9px;
}

.input-wrapper label span:hover {
  color: #605479;
}

.col-2 {
  display: flex;
  gap: 22px;
  width: 100%;
}

.input-wrapper input {
  background: #FAFAFC;
  border: 1px solid #E6E6F0;
  border-radius: 8px;
  height: 56px;
  padding: 0 24px;
  font-size: 16px;
  line-height: 26px;
}

.date-3 {
  display: flex;
  gap: 10px;
  margin-bottom: 16px;
}

.date-3 > div:nth-child(1) {
  width: 100%;
}

.date-3 > div:nth-child(2) {
  width: 140px;
  margin-left: 22px;
}

.date-3 > div:nth-child(3) {
  width: 140px;
}

.date2-3 {
  display: flex;
  gap: 10px;
}

.date2-3 > div:nth-child(1) {
  width: 100%;
}

.date2-3 > div:nth-child(2) {
  width: 140px;
  margin-left: 22px;
}

.date2-3 > div:nth-child(3) {
  width: 140px;
}

footer {
  display: flex;
  flex-direction: column;
  background: #535971;
  height: 160px;
  padding: 53px 71px;
  margin-bottom: 417px;
  border: 1px solid #D6D6D6;
  border-radius: 0 0 20px 20px;
}

footer .button {
  height: 56px;
  background: #FF5374;
  border: 0;
  border-radius: 20px;
  font-family: 'Staatliches', cursive;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
}